$background-color: #ffffff;

$off-white: #F5F5F5;
$thin-line: #E1E1E1;

$black: #555;

$blue: #1EAEDB;

$link-color: $blue;
$button-background-color: $blue;
$button-color: $off-white;

$tag-background-color: $off-white;

$notes-background-color: $off-white;
