@import "variables";
@import "skeleton";

@import "ui/pills",
        "ui/buttons",
        "ui/markdown",
        "ui/table";

@import "components/search-bar",
        "components/books",
        "components/notes",
        "components/settings";

body {
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
}

.container {
  margin-top: 40px;
}

.hide {
  display: none !important;
}

.collapsed {
  display: none;
}
